body {
    --alice-blue: #f4faff;
    --platinum: #dee7e7;
    --wild-blue-yonder: #b7adcf;
    --stormcloud: #4f646f;
    --davys-grey: #535657;
    background-color: var(--alice-blue);
}

#title {
    text-align: center;
    color: var(--davys-grey)
}

#content {
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 1em; 
    padding: 1%;
    background-color: var(--platinum);
}

#survey-form {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

input {
    text-align: center;
}

#colors input {
    display: none;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
}

.grid-wrapper label {
    margin: 2% 0;
    padding: 50% 0;
    border-radius: 50%;
    font-size: 6vw;
    line-height: 0;
}

label[for="blue"] {
    background-color: rgba(0,0,255,0.3);
    color: black;
}

label[for="red"] {
    background-color: rgba(255,0,0,0.3);
    color: black;
}

label[for="yellow"] {
    background-color: rgba(255,255,0,0.3);
    color: black;
}

label[for="green"] {
    background-color: rgba(0,255,0,0.3);
    color: black;
}

label[for="orange"] {
    background-color: rgba(255,165,0,0.3);
    color: black;
}

label[for="purple"] {
    background-color: rgba(255,0,255,0.3);
    color: black;
}

#education {
    justify-content: center;
}

#education div {
    text-align: left;
    padding: 0 10%;
    width: 80%;
}